.dashboard {
  padding: 20px;
  .loader {
    position: absolute;
    left: 50%;
    color: rgb(70, 85, 151);
  }
  .action-btn {
    float: right;
    margin-bottom: 20px;
    .load-data-btn {
      background-color: rgb(70, 85, 151);
      color: #fff;
      border-radius: 4px;
      padding: 6px;
    }
  }
  .parent-table {
    tbody {
      .no-data {
        text-align: center;
      }
    }
  }
}
